<div class="container-fluid">
  <div class="jumbotron">
    <h3>Job listings and events!</h3>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h1><%= @title %></h1>
    </div>
  </div>

  <div class="bottom">
    <% @elements.each do |e| %>
    <div class="row">
      <div class="col-xs-12">
        <p>
          <a href="<%= e[:url] %>" class="btn btn-block btn-lg btn-primary"><%= e[:text] %></a>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
