<div class="container">
  <% if @events.empty? %>
  <div class="jumbotron">
    <h2>No events found</h2>
  </div>
  <% else %>
  <div class="row">
    <div class="col-xs-12">
      <h2>Current Listings</h2>
      <% @events.each do |event| %>
      <p>
        <a class="event_name" href="<%= url_for event %>">
          <h3>
            <%= event.name %>
          </h3>
        </a>
      </p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
