<div class="container">
  <h1><%= @event.name %></h1>
  <p><%= raw(@event.description) %></p>
  <p>
    <% @event.topics.each do |topic| %>
    <span class="label label-success"><%= topic.fancy_name %></span>
    <% end %>
  </p>
  <div class="well">
    <h3>Need help applying?</h3>
    <p>
      <a href="/contact" class="btn btn-primary btn-block btn-md">Contact YouthHub</a>
    </p>
  </div>
</div>
