<% @events_by_date_and_topic.each do |date, topic_groups| %>
  <h2><%= date.to_date %></h2>
  <ul>
    <% topic_groups.each do |topic, events| %>
      <li><%= topic.name %>
        <ul>
          <% events.each do |event| %>
            <li><%= link_to event.name, event %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
