<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
        <%= render partial: 'layouts/navigation_links' %>
      <% end %>
    </ul>
  </div>
</nav>
